<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Pair/Conne/Static/Images/Logo 7(4).png"/>
    <title>Agri-Connect | About</title>
    <link rel="stylesheet" href="/Pair/Conne/Static/CSS/about.css">
</head>
<body>
    <header>
        <div class="logo"> <img src="/Pair/Conne/Static/Images/Logo 7(4).png" alt="Agri-Connect Logo"> </div>
        <nav>
            <ul>
                <li><a href="./home.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="./service.html">Products</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>

        <!--<div class="auth-buttons">
            <button>Log In</button>
            <button>Sign In</button>
        </div>-->

    </header>
    
    <section class="about">
        <div class="image-container">
            <img src="/Pair/Conne/Static/Images/Farmers.webp" alt="Farmers Working">
        </div>
        <div class="story-box">
            <h2>Our Story</h2>
            <p>Inspired by the challenges Rwandan farmers faced in accessing markets for their harvests, I envisioned an intuitive application to enhance their market presence. Recognizing their struggles, I dedicated myself to developing this solution, aiming to empower farmers and help them thrive by connecting them directly to potential buyers.</p>
        </div>
    </section>
    
    <section class="mission-vision">
        <div class="mission">
            <h3>Mission</h3>
            <p>Agri-Connect empowers farmers to diversify crops and create sustainable jobs through a mobile app.</p>
        </div>
        <div class="image-container">
            <img src="/Pair/Conne/Static/Images/Crops.jpg" alt="Growing Crops">
        </div>
        <div class="vision">
            <h3>Vision</h3>
            <p>We aim to foster climate-resilient agriculture, empowering farmers and creating sustainable jobs through innovative technology.</p>
        </div>
    </section>
    
    <footer>
        <p>&copy; 2025. Agri-Connect</p>
    </footer>
</body>
</html>
