<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Conne/Static/Images/Logo 7(4).png"/>
    <title>Agri-Connect | Products</title>
    <link rel="stylesheet" href="/Conne/Static/CSS/service.css">
</head>
<body>
    <header>
        <div class="logo"> <img src="/Conne/Static/Images/Logo 7(4).png" alt="Agri-Connect Logo"> </div>
        <nav>
            <ul>
                <li><a href="./home.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="#service">Products</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>

        <!--<div class="auth-buttons">
            <button>Log In</button>
            <button>Sign In</button>
        </div>-->

    </header>
    
    <section class="products">
        <div class="product-info">
            <div class="image-container">
                <img src="/Conne/Static/Images/web-mob.jpg" alt="Web & Mobile App">
            </div>
            <div class="description-box">
                <h2>Web App & Mobile APP</h2>
                <p>
                    1. Mobile and Web App: An intuitive app that enables farmers to showcase their crops, connect with buyers, and manage orders, enhancing their visibility in the market.<br>
                    2. Market Insights Dashboard: A feature within the app providing farmers with real-time data on market trends, pricing, and demand, helping them make informed decisions about crop diversification and sales strategies.
                </p>
            </div>
            <div class="image-container">
                <img src="/Conne/Static/Images/dashboard.PNG" alt="Web & Mobile App">
            </div>
        </div>
    </section>
    
    <section class="training-support">
        <div class="support-box">
            <h3>Training Support</h3>
            <p>
                Training and Support Programs: Educational resources and workshops to equip farmers with knowledge on sustainable practices, technology use, and market strategies, fostering resilience and job creation within the agricultural sector.
            </p>
        </div>
        <div class="image-container">
            <img src="/Conne/Static/Images/tra.png" alt="Training Support">
        </div>
    </section>
    
    <footer>
        <p>&copy; 2025. Agri-Connect</p>
    </footer>
</body>
</html>
